# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Build artifacts
*.zip

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Operating System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
